<h2> Resultado da Busca: </h2>

<% @result.each do |flight| %>
  <% if flight.class == Array %>
    <p>Partida: <%= flight.first %></p>
    <p>Retorno: <%= flight.last %></p>
    <br>
  <% else %>
    <p><%= flight %></p>
  <% end %>
<% end %>